body {
  background-color: white;
  margin: 3% 14% 5% 14%;
  font-family: "Nunito Sans", sans-serif;
  color: #404040; }
  @media (max-width: 767px) {
    body {
      margin: 1% 7% 10% 7%; } }

.massive-container {
  max-width: 1200px; }

p {
  font-family: "PT Serif", serif;
  font-size: 1em;
  line-height: 1.6em; }

a {
  color: #003159;
  border-bottom: 1px dotted #ccc;
  font-weight: bold;
  text-decoration: none; }

h1.name {
  color: #003159;
  display: inline-block;
  font-size: 2.5em;
  line-height: 1.1em;
  margin-bottom: 2px;
  font-weight: 800; }

.contact-information, .links-container {
  font-size: .9em;
  letter-spacing: 1px;
  line-height: .9em;
  margin: 8px 0px; }

.contact-deets {
  display: inline-block;
  margin-top: 0px;
  text-decoration: none; }

.links {
  display: inline-block;
  color: #003159;
  border-bottom: none;
  text-decoration: none;
  padding: 0px 5px;
  margin-top: 12px; }
  .links:first-child {
    padding-left: 0px; }

i.fa {
  font-size: 1.3em;
  color: #003159; }

i.fa-external-link {
  font-size: 0.7em; }

header {
  padding-bottom: 100px; }

.header-info-container {
  width: 79%;
  float: left; }

.headshot-container {
  float: right;
  width: 20%;
  text-align: center; }
  @media (max-width: 600px) {
    .headshot-container {
      display: none; } }

img.headshot {
  border-radius: 100%;
  height: 130px;
  margin-top: 30px; }

.content {
  margin-top: 20px;
  padding-top: 0px; }

#about {
  margin-top: 80px; }

.primary-titles {
  color: #003159;
  display: inline-block;
  font-size: 1em;
  letter-spacing: 1px;
  margin-bottom: -1%;
  text-decoration: none; }
  .primary-titles a {
    text-decoration: none;
    color: #003159; }

.location {
  display: inline-block;
  font-size: .8em;
  letter-spacing: 2px;
  margin-bottom: -1%;
  margin-top: 1.1em;
  padding-left: .4em;
  text-transform: uppercase; }

h2.category-headers {
  color: #003159;
  font-size: 1.4em;
  letter-spacing: 2px;
  margin-top: 2.0em;
  margin-bottom: .1em;
  text-transform: uppercase;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  font-weight: 600; }

.category-details {
  font-size: .85em;
  font-weight: 600;
  letter-spacing: 0.01em;
  line-height: 1.7em;
  margin-bottom: 1%;
  font-style: italic;
  margin-left: 2%;
  margin-top: .5em; }

.category-description-main {
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: 1em; }

.category-description {
  margin-bottom: 1%;
  margin-left: 2%;
  margin-right: 7%;
  margin-top: .01em; }

li {
  color: #003159; }

li > p {
  color: #404040; }

.footer-flag {
  margin: 50px auto 10px;
  text-align: center;
  width: 100%; }
  .footer-flag img {
    height: 42px; }

.footnotes {
  font-size: 0.7em;
  margin-top: 10px; }
